@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table" id="customers">
    <thead>
        <tr>
            <th> Customer </th>
            <th> Membership Type </th>
            <th> BirthDate </th>
            <th> Delete </th> 
        </tr>
    </thead>
    <tbody>
        
    </tbody>

</table>

@section scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
           var table = $("#customers").DataTable({

                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns:
                    [
                        {
                            data: "name",
                            render: function (data, type, customer) {
                                return "<a href='/customer/edit/ " + customer.customerId + "'>" + data +" </a>";
                            }
                        },
                        {
                            data: "membershipType.name"
                        },
                        {
                            data: "birthDate",
                            render: function (data) {
                                var date = new Date(data);
                                var month = date.getMonth() + 1;
                                return (month) + "/" + date.getDate() + "/" + date.getFullYear();
                            }
                        },
                        {
                            data: "customerId",
                            render: function (data) {
                                return "<button class='btn btn-danger js-delete' data-customer-id=" + data + ">Delete</button>";
                            }
                        }
                    ]
            });

            $("#customers").on("click",".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are You Sure ? ", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "Delete",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}