@model Vidly.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Log in with your social networks.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider"
                                value="@p.AuthenticationType" title="Log in using your @p.Caption account">

                            @if (p.AuthenticationType == "Facebook")
                            {
                                <img src="~/Images/sign-in-with-facebook-png-7.png" width="250" height="40" />
                            }
                            else
                            {
                                <img src="~/Images/google-sign-in.png" width="250" height="48" />
                            }
                        </button>
                    }
                </p>
            </div>
        }
    }
}
