@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("New Movie", "New", "Movie", new { @class = "btn btn-primary" })
<br />
<br />
<table class="table table-bordered table-hover" id="movies">
    <thead>
        <tr>
            <th> Movie </th>
            <th> Genre </th>
            <th> Delete </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
           var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movie/edit/" + movie.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "genre.genreName"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' movie-data-id=" + data + ">Delete</button>";
                        }
                    }
                ]
           });

           $("#movies").on("click", ".js-delete", function () {
               var button = $(this);

               bootbox.confirm("Are You Sure ? ", function (result) {
                   if (result) {
                       $.ajax({
                           url: "/api/movies/" + button.attr("movie-data-id"),
                           method: "Delete",
                           success: function () {
                               table.row(button.parents("tr")).remove().draw();
                           }
                       });
                   }
               });
           });
        });
    </script>
}